<ion-header>
 <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu" class="icon2"></ion-icon>
    </button>
    <ion-title style="color:#cc0000 !important;">Inicio</ion-title>
    <ion-buttons end>

        <button ion-button icon-only  [navPush]="'ProfilePage'">
          <ion-icon name="person" class="icon2"></ion-icon>
        </button>
        <button ion-button icon-only (click)="searchInput=!searchInput">
          <ion-icon name="search" class="icon2"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="searchInput">
      <ion-searchbar placeholder='' no-margin></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of items">
    <img src="https://diariocorreo.pe/media/thumbs/uploads/articles/images/peru-en-el-primer-lugar-en-creditos-para-emp-47510-jpg_604x0.jpg"/>
    <ion-card-content>
      <ion-card-title>
        {{item.name}}
        </ion-card-title>
      <p>
        {{item.direccion}}
      </p>
    </ion-card-content>
  </ion-card>
     <!-- <ion-fab bottom right >
        <button  ion-fab color="primary" (click)="presentcategory($event)"><ion-icon name="add"></ion-icon></button>
      </ion-fab>-->
</ion-content>
