page-home {
    [menuToggle]{
    display: block !important;
    }

    .toolbar-title, .bar-button {
      color:#fff !important;

      ion-icon {
        color:#fff !important;
      }
    }
}
.toolbar-background-md {
  border-color: #b2b2b2;
  background: #cc0000;
}
.icon2{
  color: #cc0000!important;

}
