
page-slide {
  ion-slide {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
  }
  .slide-one {
    background-image: url('../assets/images/slide/1.jpg');
  }
}
