// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.bar-button-md {
  width: 35px;
  font-size: 1rem;
}

ion-fab[bottom] {
  bottom: 20px;
}

ion-fab[right] {
  right: 16px;
}

h3 {
  font-size: 1.7rem;
}
/* menu */
.menu-list {
  .toolbar-md {
    min-height: 170px;
    align-items: flex-start;

    &.statusbar-padding {
      min-height: 170px !important;
    }

    .bar-button-md {
      margin-top: 7px;
    }
  }

  .toolbar-background-md {
    background-image: url("../assets/images/pisco-white.png");
    background-repeat: no-repeat;
    background-size: 35% 70% !important;
    background-repeat: no-repeat;
    background-position: 50% 85% !important;
    width: 100% !important;
    @include background;
  }

  .scroll-content {
    background: darken(color($colors,secondary),2%);

    .item-md {
      background: none;
      color: color($colors,light);
      border-bottom: 1px solid rgba(color($colors,light),.2);
      padding: 0;
      text-transform: capitalize;

      ion-icon {
        font-size: 21px;
        line-height: 25px;
      }

      .item-inner {
        margin-left: 15px;
      }
    }
  }

  .statusbar-padding .scroll-content {
    margin-top: 170px !important;
  }
}
