page-nosoperfil {
  .toolbar-title, .bar-button {
    color:#fff !important;

    ion-icon {
      color:#fff !important;
    }
  }

  .bar-button-menutoggle {
    color:#fff !important;
    display: inline !important;
  }

  .profile-page {
    .profile-content {
      .img-profile {
        padding-bottom: 5px !important;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          display: inline-block;
          margin-bottom: 5px;
          @include box-shadow(2px,2px,10px ,rgba(color($colors,dark),.5));
        }

        .short-descrip {
          font-size: 1.2rem;
          line-height: 1.8rem;
          width: 95%;
          margin: 5px auto;
          text-align: justify;
        }
      }

      .video {
        background-color: #ccc;
        width: 90%;
        margin: 0 auto;
        height: 150px;
        margin-top: 16px;
      }
    }

    .separator hr {
        background-color: #cc0000;
    }

    .main-detail {
      .more-story {

        img {
          width: 100%;
          height: 92px;
          object-fit: cover;
          //margin-bottom: 5px;
        }
        small {
          font-weight: bold;
          margin-bottom: 10px;
          display: block;
        }

        ion-col {
          &:nth-child(1) {
            padding-right: 5px;
          }

          &:nth-child(2) {
            padding-left: 5px;
          }
        }
      }

      .main-title {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      .item-md.item-block .item-inner {
        border: none !important;
      }

    }
  }
}
