page-detail {
  .toolbar-title, .bar-button {
    color:#fff !important;

    ion-icon {
      color:#fff !important;
    }
  }

  .main-list {
    .like-share{
      &:after {
        background-color: #cc0000 !important;
      }
      ion-icon {
        color: #cc0000 !important;
      }
    }

    ion-avatar {
      border-radius: 50%;
      overflow: hidden;
      width: 35px;
      height: 35px;
      background-color: #cc0000;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      font-weight: normal !important;
    }
  }

  .separator hr {
      background-color: #cc0000;
  }

  .main-detail {
    .more-story {

      img {
        width: 100%;
        height: 92px;
        object-fit: cover;
        margin-bottom: 5px;
      }

      ion-col {
        &:nth-child(1) {
          padding-right: 5px;
        }

        &:nth-child(2) {
          padding-left: 5px;
        }

        p {
          line-height: 1.6rem;
          color: color($colors,lightColor);
          font-size: 1.3rem;
        }
      }
    }

    .main-title {
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    .comments {
      .item-md {
        padding: 0;
        align-items: flex-start;

        h2 {
          font-size: 1.5rem;

          span {
            padding-left: 5px;
            color: color($colors,lightColor);
            font-size: 1.3rem;
            font-weight: normal;
          }
        }

        .rate {
          margin-top: 5px;
        }

        .icon-md-ratecolor {
          color: #cc0000 !important;
        }

        .rate-value {
          padding-left: 5px;
          color: color($colors,lightColor);
        }
      }

      textarea.text-input {
        border: 1px solid color($colors , lightColor);
        padding: 5px 15px;
        border-radius: 5px;
        margin: 5px 0;
        width: 100%;
      }
    }
  }
}
