
<ion-header>
  <ion-navbar hideBackButton="false">
    <ion-title>Detalle</ion-title>
    <ion-buttons end>
      <button (click)="presentoption($event)" ion-button icon-only >
         <ion-icon color="light" name="more" class="more-option"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
<ion-card class="main-list" no-margin>
 <div class="main-img">
     <img src="assets/images/cupones/02.jpg">
 </div>

 <ion-item>
   <ion-avatar item-start>
     <ion-icon  color="light" name="restaurant"></ion-icon>
   </ion-avatar>
   <h2>Lomo Saltado</h2>
 </ion-item>

 <ion-card-content class="text-justify">
   <p>Este lomo sofrito con verduras al estilo Peruano saltado con arroz una comida deliciosa.</p>
 </ion-card-content>

  <div class="like-share" padding-horizontal>
        <p class="text-red">GASTRONOMÍA</p>
        <button ion-button icon-start clear (click)="activeLike = !activeLike">
            <ion-icon *ngIf="!activeLike" color="danger" name="heart-outline"></ion-icon>
            <ion-icon *ngIf="activeLike" color="primary" name="heart-outline"></ion-icon>
        </button>
       <button (click)="goToBottom()" ion-button icon-start clear>
            <ion-icon  color="danger" name="ios-chatboxes-outline"></ion-icon>
        </button>
        <button ion-button icon-start clear (click)="sharePopover($event)">
            <ion-icon  color="danger" name="share"></ion-icon>
        </button>
  </div>
  <div class="main-detail" padding>
        <p padding-bottom class="text-justify">
          El Lomo Saltado está sin duda entre los principales y más solicitados platos de la gastronomía peruana. Ocupa un lugar especial en la interminable lista de comidas peruanas que nacen gracias a la fusión de la cocina peruana con otras cocinas del mundo, en este caso, la cocina oriental china.
          <br>
          Existen variantes en este plato, ya que dependiendo del gusto, se han sustituido algunos ingredientes. El Lomo Saltado es uno de los platos más consumidos en el Perú.
          <br>
          El nombre inicial de este plato fue lomito a la chorrillana (por las tiras de cebolla que lleva), lomito salteado o lomito de res, finalmente todos terminamos conociéndolo como Lomo Saltado. Y con ese nombre se ha popularizado.
        </p>
        <div class="separator"><hr color="danger"></div>
       <div class="more-story" padding-vertical>
            <h3 class="main-title text-red">DESTACADOS</h3>

            <ion-row no-padding>
                <ion-col col-6 no-padding>
                      <img src="assets/images/cupones/02.jpg">
                      <p> Arroz con Pollo Peruano</p>
                </ion-col>
                <ion-col col-6 no-padding>
                      <img src="assets/images/cupones/01.jpeg">
                      <p> Ceviche de Camarones a la Piedra</p>
                </ion-col>
            </ion-row>
        </div>
        <div class="separator"><hr color="danger"></div>
        <div class="comments" padding-top>
            <h3 class="main-title text-red">COMENTARIOS</h3>
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/images/011.png">
                </ion-avatar>
                <h2>Wendy Fernández <span>Hace 3 días</span></h2>
                <ion-icon class="rate" *ngFor="let icon of icons" [name]="icon" color="ratecolor"></ion-icon>
                <span class="rate-value">4.6</span>
                <p>Me encanto...</p>
            </ion-item>
            <ion-textarea rows="1" placeholder="escribe tu comentario..."></ion-textarea>
        </div>
  </div>
</ion-card>
</ion-content>
